.app,
.comp {
  align-items: center;
  display: flex;
  font-weight: bolder;
  height: 50px !important;
  justify-content: center;
  width: 100%;
}
#cs {
  display: none;
}
.img {
  width: 40%;
  height: auto;
}
